h2 {
    font-size: 30pt;
    color: #602020;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 2pt
}

p {
    font-family: 'Verdana';
    text-align: center;
    color: #7b7676;
}

ul {
    font-family: 'Verdana', sans-serif;
    font-size: 20pt;
    text-align: center;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #cccccc;
}

form {
    font-size: 15pt;
}

footer {
    color: #cccccc;
    font-size: 15pt;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

.container {
    widows: 800px;
    border: 5px solid #cccccc;
    padding: 25px;
    margin: auto;
}


body {
    background-color: #ffffec;
}
